# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/*
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
